# python version 3.10
fastapi
uvicorn
pydantic
pydantic-settings
python-dotenv
loguru
oci 
langchain-community
pydantic-settings

# File handling
python-docx
PyPDF2
chardet

# Temporary
chromadb
cohere